<html>
	<head>
		<title>VUE-列表渲染</title>
		<style>

		</style>
		<script src="../../js/vue.js"></script>
<!-- 引入样式 
<link rel="stylesheet" href="../element-ui@1.3.7.css">
-->
<!-- 引入组件库 
<script src="../element-ui@1.3.7.js"></script>
-->

<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-default/index.css">
<!-- 引入组件库 -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
	</head>
	<body>

        <div id="example">
       
        <el-date-picker class="sac-time-picker-fix dib" v-model="startTime" type="datetime" align="right" placeholder="开始时间"></el-date-picker>
            <h2>v-if v-else-if v-else</h2>
            <span v-if="Math.random() <= 0.4">
                0-0.4
            </span>
            <span v-else-if="Math.random() > 0.7">
                0.4-0.7
            </span>
            <span v-else>
                0.7-1
            </span>
            <br>
             <el-input v-model="startTime1" placeholder="输入设备名称"></el-input>&nbsp;&nbsp;
             <input v-model="startTime1" placeholder="输入设备名称"/>&nbsp;&nbsp;
        </div>
        <hr>
        <div id="show">
            <h2>v-show</h2>
            <p v-show="ok">v-show</p>
            <p v-show="!ok">!v-show</p>
            <br><br>
            <div v-if="loginType === 'username'">
                <label class="class0">Username</label>
                <input placeholder="Enter your username">
            </div>
            <div v-else>
                <label class="class1">Email</label>
                <input placeholder="Enter your email address">
            </div>
            <button @click="toggleLogin()">change</button>
        </div>
	</body>
	<script>
        /**
         * Vue 尝试尽可能高效的渲染元素，通常会复用已有元素而不是从头开始渲染。
         * v-if v-else-if v-else 的模板组使用尽可能高效使用同一个dom结点
         * 使用不用key属性可以使v-if v-else-if v-else各自的dom结点重新渲染【业务需求】
         */
        /**
         * v-show 的元素会始终渲染并保持在 DOM 中，它只是简单的切换元素的 CSS 属性 display
         */
        var vm_if = new Vue({
            el: "#example",
            data: {
                ok: false,
                startTime1:"",
                startTime: new Date().getTime()
            }
        });
        var vm = new Vue({
            el: "#show",
            data: {
                ok: false,
                loginType: "username"
            },
            methods: {
                toggleLogin: function() {
                    this.loginType =  (this.loginType === "username") ? "other" : "username";
                }
            }
        });
	</script>
</html>





















