<html>
	<head>
		<title>VUE-计算属性-watcher</title>
		<style>

		</style>
		<script src="../../js/vue.js"></script>
	</head>
	<body>
        <div id="example">
            <h2>计算属性-computed</h2>
            <p>origin message: {{message}}</p>
            <p>computed(reverseMessage) message: {{reverseMessage}}</p>
            <p>methods(reverseMessage1) message: {{reverseMessage}}</p>
            <p v-on:click="date_now1">methods-click(date_now) message: {{dateNow}}</p>
            <p>computed(date_now1) message: {{date_now}}</p>
        </div>
        <hr>
        <div id="name">
            <h2>计算属性：setter getter</h2>
            <label for="names">input输入无法触发setter</label>
            <input id="names" type="text" v-model="name">
            <p>{{name}}</p>
            <p>{{firstName}}</p>
            <p>{{lastName}}</p>
        </div>
        <hr>
        <div id="watcher">
            <h2>观察者-watcher</h2>
            <p>
                输入一个数字 <input type="text" v-model="question">
                <p>{{answer}}</p>
            </p>
        </div>
	</body>
	<script>
        /**
         * 在模板中绑定表达式是非常便利的，但是它们实际上只用于简单的操作。在模板中放入太多的逻辑会让模板过重且难以维护，模板不再简单和清晰。
         *
         * 计算属性【computed】就是对模板表达式的功能升级和优化
         *
         * 计算属性也是动态双向数据绑定
         * 计算属性是基于它的依赖缓存：计算属性只有在它的相关依赖发生改变时才会重新取值
         * PS: Date.now() 是不是响应式依赖
             computed: {
                now: function () {
                    return Date.now()
                }
              }

         * 相比而言，每当重新渲染的时候，method 调用总会执行函数。
         *
         * 计算属性依赖于缓存，没有缓存，将不可避免的多次执行属性的getter ！如果你不希望有缓存，用method替代。
         */
        var vm = new Vue({
            el: "#example",
            data: {
                message: "hello vue hello js",
                dateNow: "??:??:??"
            },
            computed: {
                //声明了一个计算属性 reversedMessage。
                //提供的函数将用作属性 vm.reversedMessage的getter
                reverseMessage: function() {
                    return this.message.split(" ").reverse().join(" ");
                },
                date_now: function() {
                    return Date.now();
                }
            },
            methods: {
                //声明了一个方法属性 reversedMessage1。
                //提供的函数将用作属性 vm.reversedMessage1的getter
                reverseMessage1: function() {
                    return this.message.split(" ").reverse().join(" ");
                },
                date_now1: function() {
                    return this.dateNow =  new Date(parseInt(Date.now()) * 1000).toLocaleString().substr(0,17);
                }
            }
        });

        console.log("---------------------------------------------------------------------------------------------");
        /**
         * ## 计算属性的getter setter
         * 计算属性默认只有 getter ，在需要时也可以提供一个 setter
         *
         * setter可以当做触发器/computed使用，动态联动绑定数据
         */
        var vm1 = new Vue({
            el: "#name",
            data: {
                name: "mingzi",
                firstName: "xing",
                lastName: "ming"
            },
            computed: {
                fullName: {
                    set: function(newName) {
                        //setter
                        this.name = newName;
                        this.firstName = "null";
                        this.lastName = "null";
                    },
                    get: function() {
                        //getter
                        return this.name + ": " + this.firstName + "." + this.lastName;
                    }
                }
            }
        });
        setTimeout(function() {
            vm1.fullName = "new full name";
        },3000);

        console.log("---------------------------------------------------------------------------------------------");

        /**
         * 虽然计算属性在大多数情况下更合适，但有时也需要一个自定义的 watcher 。
         * 这是为什么 Vue 提供一个更通用的方法通过 watch 选项，来响应数据的变化。
         * 当你想要在数据变化响应时，执行异步操作或开销较大的操作，这是很有用的。
         */
        var vmWatcher = new Vue({
            el: "#watcher",
            data: {
                question: "",
                answer: "no answer"
            },
            watch: {
                // 如果 question 发生改变，这个函数就会运行
                // 过滤器属性的名称【比如这里的question】就是监听的data属性
                question: function(newQ) {
                    this.answer = 100 + newQ;
                }
            }
        });
	</script>
</html>





















